[submodule "Challenges"]
	path = Challenges
	url = git@github.com:vasic-digital/Challenges.git
[submodule "constitution"]
	path = constitution
	url = git@github.com:HelixDevelopment/HelixConstitution.git
